.dropdown {
    position: relative;
    width: 300px;
    margin: 0 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn-br-style {
    color: grey;
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
    height: 200px;
    width: 300px;
    border-radius: 6px;
}

.dropdown:hover .dropbtn {
    background-color: #ffffff;
}