.about-main-style {
    background-color: rgb(233, 233, 233);
    height: 800px;
    padding-top: 20px;
}

.about-inner-style {
    height: 60px;
    width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
}

.company-about_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    margin-top: 21px;
    margin-bottom: 12px;
    min-height: 42px;
}

.company-about_container {
    display: flex;
    justify-content: space-between;
}

.company-about_navigation {
    background-color: white;
    border-radius: 6px;
    width: 240px;
    height: 185px;
}

.menu {
    height: 100%;
}

.menu_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 13px;
    color: inherit;
    cursor: pointer;
}

.menu_item {
    height: 48px;
}

.menu_link {
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none!important;
    color: inherit!important;
    border-left: 2px solid transparent;
}

.menu_link.active, .menu_link:hover {
    border-left: 2px solid #fc8507;
    color: #fc8507!important;
}

.company-about_content {
    width: calc(100% - 250px);
    background-color: white;
    border-radius: 6px;
    min-height: 393px;
    padding: 24px;
    box-sizing: border-box;
}

.page-about {
    max-width: 831px;
    margin: 0 auto;
}

.page-about .about-dns_title {
    margin-bottom: 24px;
}

.page-about .about-dns_top-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #333;
}

.page-about .about-dns_subtitle {
    max-width: 692px;
    max-height: 48px;
}

.page-about .about-dns_top-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.about-dns_elements {
    display: flex;
    justify-content: space-between;
}
.about-dns_element {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;
    height: 165px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-dns_element-title {
    font-size: 25px;
    font-weight: bolder;
}

.about-dns_element-text {
    color: grey;
    font-size: 13px;
}