.search-list {
    background-color: white;
    border: 1px solid black;
    width: 632px;
    border: none;
}

.search-list.active {
    display: block;
}

.search-list-element {
    color: black;
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}