.category-card-main-style {
    background-color: white;
    width: 1100px;
    height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: 20px 0px;
    border-radius: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.category-card_image {
    height: 250px;
    width: 250px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 20px;
}

.category-card-main-style div:nth-child(1) {
    flex: 1;
}
.category-card-main-style div:nth-child(2) {
    flex: 2;
}
.category-card-main-style div:nth-child(3) {
    flex: 1;
    align-content: center;
}

.category-card-button {
    display: inline;
    border-radius: 6px;
    border-color: rgb(204, 204, 204);
}

.category-card-button-theme {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    border-color: rgb(204, 204, 204);
    background-color: white;
    color: rgb(156, 156, 156);
    font-size: 20px;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
    float:right;
    transition-duration: 0.4s;
}

.category-card-button-theme-text {
    height: 40px;
    width: 92px;
    border-radius: 6px;
    border-color: rgb(204, 204, 204);
    background-color: white;
    color: rgb(156, 156, 156);
    font-size: 20px;
    margin-right: 25px;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
    float:right;
    transition-duration: 0.4s;
}

.category-card-button-theme-text:hover {
    background-color: orange;
    border-color: rgb(172, 112, 0);
}

.category-card-button-theme:hover {
    background-color: orange;
    border-color: rgb(172, 112, 0);
}

.category-card_description {
    margin: 30px;
}

.category-card_price {
    margin: 30px 30px 0 30px;
    font-size: 30px;
    font-weight: bolder;
    text-align: right;
}

.category-card_price-common {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.category-card_basket-text {
    color: rgb(156, 156, 156);
    font-size: 20px;
    text-align: center;
    padding-top: 6px;
}

.category-card_basket-container {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    border-color: rgb(204, 204, 204);
    background-color: white;
    color: rgb(156, 156, 156);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    vertical-align: top;
    float:right;
    margin-right: 5px;
}