.dns_logo {
    color: orange;
    font-size: 50px;
    font-weight: bolder;
    padding-right: 10px;
}


.search_line_elements {
    height: 60px;
    width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
}

.search {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
}

.search_style {
    padding-left: 10px;
    height: 21px;
    cursor: pointer;
}


.dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 185px;
    height: 73px;
    text-align: left;
    margin-left: 25px;
}


.footer {
    background-color: grey;
    height: 50px;
}


.picture-second {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 55px;
    box-sizing: border-box;
    width: 126px;
    height: 110px;
    margin-top: 32px;
}



