.main {
    background-color: rgb(233, 233, 233);
    height: 1300px;
    padding-top: 20px;
}

.main-left-menu {
    margin: 0 auto;
    width: 1100px;
}

.main-right-menu-block {
    display: inline-block;
    width: 796px;
}