.all-for-school-block-offers-objects-element {
    align-items: center;
    justify-content: center;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 48px;
    box-sizing: border-box;
    width: 126px;
    height: 126px;
}

.all-for-school-test-size {
    font-size: 13px;
}

.all-for-school-block-offers-objects-button {
    display: inline;
}

.all-for-school-button-price-theme {
    height: 40px;
    width: 140px;
    border-radius: 6px;
    border-color: rgb(204, 204, 204);
    background-color: white;
    color: rgb(156, 156, 156);
    font-size: 15px;
    margin-top: 35px;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
}

.all-for-school-button-theme {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    border-color: rgb(204, 204, 204);
    background-color: white;
    color: rgb(156, 156, 156);
    font-size: 20px;
    margin-top: 35px;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
}

.all-for-school-button-theme:hover {
    background-color: orange;
    border-color: rgb(172, 112, 0);
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 48px;
    box-sizing: border-box;
    width: 126px;
    height: 126px;
}