.main-bottom-blocks {
    display: inline-block;
    height: 163px;
    width: 376px;
    background-color: white;
    border-radius: 6px;
    margin-left: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    vertical-align: top;
}

.main-bottom-blocks-title {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(68, 68, 68);
}

.main-bottom-blocks-point {
    color: rgb(68, 68, 68);
    font-size: 15px;
    margin-top: 5px;
    margin-left: 20px;
}

.main-bottom-blocks-buttons {
    color: blue;
    display: inline-block;
    margin: 6px 0 6px 20px;
    font-size: 13px;
}