.main-right-block {
    height: 218px;
    width: 250px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    vertical-align: top;
    box-sizing: border-box;
    padding: 20px;
}


.main-right-block-title {
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

.main-right-block-point {
    color: black;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.main-right-block-button {
    display: inline;
}

.orange-button-theme {
    border-radius: 6px;
    border-color: orange;
    background-color: white;
    color: orange;
    font-size: 15px;
    margin-top: 35px;
    margin-right: 5px;
    width: 100px;
    height: 40px;
    vertical-align: top;
    cursor: pointer;
}

.black-button-theme {
    border-radius: 6px;
    border-color: rgb(0, 0, 0);
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-top: 35px;
    width: 100px;
    height: 40px;
    vertical-align: top;
    cursor: pointer;
}