.all-for-school-block-offers {
    background-color: white;
    height: 400px;
    width: 1100px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 25px;
    box-sizing: border-box;
}

.all-for-school-block-title {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 35px;
    margin-bottom: 15px;
}

.all-for-school-block {
    margin: 0 auto;
    width: 1100px;
}

.all-for-school-block-offers-categories {
    display: grid;
    grid-template-columns: 90px 171px 217px 137px 168px 101px 90px;
    height: 30px;
}

.all-for-school-block-offers-objects {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
}

.categories-theme-active {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    text-align: center;
    border-radius: 6px;
    padding-top: 5px;
    font-weight: bolder;
}

.categories-theme {
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
}