.footer-main-style {
    height: 50px;
    background-color: #282c34;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-style {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-about-company {
    font-size: 20px;
    color: white;
    font-weight: bolder;
    margin-top: 10px;
    cursor: pointer;
}