.input_settings {
    margin-left: 3px;
    height: 44px;
    flex: 1;
    position: relative;
    z-index: 5;
}

.search-input {
    height: 41px;
    width: 629px;
    border: none;
    box-shadow: 0px 4px 8px 0px rgba(134, 134, 134, 0.2);
    background-color: rgb(224, 224, 224);
    border-radius: 4px;
    font-size: 15px;
}

.search_button {
    height: 41px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 2px 6px 0px rgba(134, 134, 134, 0.2);
    cursor: pointer;
}