.products-main-style {
    background-color: rgb(233, 233, 233);
    height: 1700px;
    padding-top: 20px;
}

.products-inner-style {
    height: 60px;
    width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
}