.main-center-block {
    height: 220px;
    width: 500px;
    background-color: orange;
    display: inline-block;
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    vertical-align: top;
}

.main-center-block-welcome {
    font-size: 35px;
    font-weight: bolder;
    color: white;
}

.main-center-block-salary {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    margin-top: 9px;
}

.main-center-block-promises {
    color: darkblue;
    display: inline-block;
    margin-right: 10px;
    margin-top: 16px;
}