.main-left-menu-block {
    background-color: white;
    width: 300px;
    height: 707px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    vertical-align: top;
}