.main-center-page-block-title {
    margin-left: 20px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bolder;
}

.main-current-offers {
    height: 220px;
    width: 775px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 10px;
    margin: 10px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    vertical-align: top;
}

.main-current-offers-button {
    display: inline-block;
}

.main-current-offers-button-theme {
    text-decoration: underline;
    background-color: white;
    border-color: white;
    box-shadow: white;
    margin-right: 5px;
    height: 45px;
    width: 138px;
    border-radius: 6px;
    cursor: pointer;
}

.main-current-offers-button-theme-active {
    background-color: rgb(224, 224, 224);
    border-radius: 6px;
    border-color: rgb(255, 255, 255);
    font-weight: bolder;
    color: black;
    margin-right: 5px;
    height: 45px;
    width: 138px;
    cursor: pointer;
}